{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">Produtos em Destaque</h1>
<div class="row">
    {% for produto in produtos %}
    <div class="col-md-4 mb-3">
        <div class="card h-100">
            <img src="{{ url_for('main.static', filename='imagens/' + produto['imagem']) }}" class="card-img-top" alt="{{ produto['nome'] }}">
            <div class="card-body">
                <h5 class="card-title">{{ produto['nome'] }}</h5>
                <p class="card-text">R$ {{ produto['preco'] }}</p>
                <a href="{{ url_for('main.produto', id=produto['id']) }}" class="btn btn-primary">Ver Produto</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}