{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <img src="{{ url_for('main.static', filename='imagens/' + produto['imagem']) }}" class="img-fluid" alt="{{ produto['nome'] }}">
    </div>
    <div class="col-md-6">
        <h2>{{ produto['nome'] }}</h2>
        <p>{{ produto['descricao'] }}</p>
        <h4>R$ {{ produto['preco'] }}</h4>
        <form method="POST" action="{{ url_for('main.carrinho') }}">
            <input type="hidden" name="produto_id" value="{{ produto['id'] }}">
            <button type="submit" class="btn btn-success">Adicionar ao Carrinho</button>
        </form>
    </div>
</div>
{% endblock %}